/*------- SHARED STYLES --------*/
/*General Styles*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

* {
	box-sizing: border-box;
}
body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}
h1 {
	font-family: 'Aguafina Script', cursive;
}
h2 {
	font-family: 'Aguafina Script', cursive;
}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10%;
}

/*Navigation styles*/
.nav-top {
	margin: 0;
	position: fixed;
	width:100%;
	top: 0;
	background: black;
	color: lightgrey;
	z-index: 10;
	font-size: 14px;
}
.welcome {
	float:left;
}

.phone, .email { 
	float:right;
	padding-left: 20px;
}

.nav-bot {
	margin: 0;
	position: fixed;
	width:100%;
	top:44px;
	background: rgba(0,0,0,0.5);
	z-index: 10;
	padding-top: 15px;
	padding-bottom: 35px;
}
.nav-bot a {
	text-decoration: none;
	color: white;
	float:right;
	padding-left:20px;
}

.nav-logo {
	float:left;
}
.navigation-container a {
	text-transform: uppercase;
	font-size: 14px;
}
.nav-menu {
	/*float:right;*/
}
.nav-menu li {
	display: inline-block;
}

/*Footer styles*/



/*------- HOME --------*/
/*Jumbotron styles*/
.jumbotron {
	height:100vh;
	background: url(../assets/home/restaurant-hero-bg.jpg) no-repeat center;
	background-size: cover;
	color: white;
	padding: 40vh 0;
}
.jumbotron h1 {
	font-size: 72px;
	font-weight: lighter;
	margin: 10px 0;
	position: relative;
	top: 20px;
	line-height: 68px;
}
.jumbotron h3 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 23px;
}
.coffee::before {
	content:" ";
	width: 25px;
	height:1px;
	background: white;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	bottom: 7px;
}
.coffee::after {
	content: url(../assets/home/white-star.png);
	padding: 0 25px;
}
.bar::after {
	content: url(../assets/home/white-star.png);
	padding: 0 25px;
}
.restaurant:after {
	content:" ";
	width: 25px;
	height:1px;
	background: white;
	display: inline-block;
	margin-left: 20px;
	position: relative;
	bottom: 7px;
}
/*About styles*/

/*Specials styles*/

/*Reservation styles*/

/*Services styles*/

