/*----------------SHARED STYLES----------------/
/*----------------General Styles----------------*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

* {
	box-sizing: border-box;
}
body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}
h1 {
	font-family: 'Aguafina Script', cursive;
}
h2 {
	font-family: 'Aguafina Script', cursive;
}
section {
	padding: 75px 0;
}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 15%;
	padding-right: 15%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.four-fifths {
	width: 80%;
}
.one-fifth {
	width: 20%;
}
.three-tenths {
	width: 30%;
}
.one-third {
	width: 33%;
}

/*----------------Navigation styles----------------*/
.nav-bar {
	position: absolute;
	width: 100%;
}
.nav-top {
	margin: 0;
	/*position: fixed;*/
	width:100%;
	top: 0;
	background: black;
	color: lightgrey;
	z-index: 10;
	font-size: 14px;
}
.welcome {
	float:left;
}

.phone, .email { 
	float:right;
	padding-left: 20px;
}
.nav-contact .fa {
	padding: 0 10px 0 20px;
}
.nav-bot {
	margin: 0;
	/*position: fixed;*/
	width:100%;
	top:44px;
	background: rgba(0,0,0,0.5);
	z-index: 10;
	padding-top: 6px;
 	padding-bottom: 6px;
}
.nav-bot a {
	text-decoration: none;
	color: white;
	float: right;
	padding-left: 30px;
}

.nav-logo {
	float:left;
	position: relative;
	top: 8px;
}
.navigation-container li {
	display: inline-block;
}
.navigation-container a {
	text-transform: uppercase;
	font-size: 14px;
}
.nav-menu {
	width: 46%;
}
.nav-menu li {
	display: inline-block;
}

/*----------------Footer styles----------------*/
.foot-sec1 {
	background: url(../assets/header-background.jpg);
	color: white;
	padding:40px;

}
.foot-sec1 h5 {
	font-weight: lighter;
	font-size: 18px;
	text-transform: uppercase;
}
.foot-sec1 p {
	width: 50%;
	margin: 0 auto;
	/*font-weight: lighter;*/
}
.foot-sec2 {
	background: #303030;
	color: #BFBFBF;
}
.foot-sec2 h6 {
	color: #E3E3E3;
	font-size: 16px;
	font-weight: lighter;
	margin: 10px 0 0 0;
	padding: 10px 0;
}
.f2-border-right {
	border-right: 2px solid #313131;
}
.section2 {
	width:33%;
	float:left;
	text-align: left;
	padding: 20px 40px;
	height: 264px;
}
.newsletter p {
	padding-top:10px;
}
.newsletter input {
	width: 100%;
	line-height: 30px;
}
.newsletter input[type=submit]{
	background: #ff514a;
	border: 0px;
	padding: 3px 20px;
}
.hours ul {
	padding: 0;
}
.hours li{
	width: 100%;
	padding: 5px 0;
	display: inline-block;
	list-style-type: none;
}
.hours-bold {
	color: white;

}
.address ul {
	 list-style-type: none;
	 padding: 0;
}
.address li {
	line-height: 32px;
}
.address-col-sm {
	width: 10%;
}
.address-col-lg {
	width: 90%;
}
.foot-sec3 {
	padding: 20px 0;
	background: #242424;
	
}
.sec3-copy {
	color: #454545;
	font-size:14px;
}
.nootheme,
.sec3-social,
.section2 .fa  {
	color: white;
}
.circle-border {
	background: #2A2A2A;
	border-radius: 50%;
	display: inline-block;
	width: 34px;
	font-size: 14px;
	padding: 10px;
}
/*------- HOME --------*/
/* Home general styles*/
.home h2 {
	font-size: 42px;
	font-weight: lighter;
	margin: 0;
}
/*Jumbotron styles*/
.jumbotron {
	height:100vh;
	background: url(../assets/home/restaurant-hero-bg.jpg) no-repeat center;
	background-size: cover;
	color: white;
	padding: 40vh 0;
}
.jumbotron h1 {
	font-size: 72px;
	font-weight: lighter;
	margin: 10px 0;
	position: relative;
	top: 20px;
	line-height: 68px;
}
.jumbotron h3 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 23px;
}
.coffee::before {
	content:" ";
	width: 25px;
	height:1px;
	background: white;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	bottom: 7px;
}
.coffee::after,
.bar::after {
	content: url(../assets/home/white-star.png);
	padding: 0 25px;
}
.restaurant::after {
	content:" ";
	width: 25px;
	height:1px;
	background: white;
	display: inline-block;
	margin-left: 20px;
	position: relative;
	bottom: 7px;
}
/*About styles*/
.about-info {
	width: 45%;
	float:left;
	padding-top: 50px;
}
.about-img {
	width:45%;
	float:right;
}
.about-img img{
	width: 100%;
}
.about h4 {
	font-size: 14px;
	margin: 0 0 20px 0;
	font-weight: normal;
}

/*Specials styles*/
.specials {
	background: #f5f5f5;
	background-size: 70%;
	padding-bottom: 0;
	position: relative;
}
.specials-menu-wrapper {
	background: url(../assets/home/specials-border.png) center no-repeat;
	height: 600px;
	background-size: contain;
}
.specials-menu-inner-wrapper {
	position: relative;
	top:43px;
}
.specials-menu {
	padding: 50px;
}
.specials-section {
	width: 30%;
	float:left;
}
.specials-section p {
	font-weight: bolder;
	font-size: 20px;
	text-transform: uppercase;
}
.specials-section li {
	font-size: 17px;
	list-style-type: none;
	padding: 35px 0;
	font-weight: 400;
}
.all-menu {
	clear:both;
	color: black;
	text-decoration: none;
	padding: 10px 40px;
	border: 2px solid black;
	font-weight: bold;
	position: relative;
	top:-20px;
}
.plates {
	width: 80%;
	position: relative;
	left: -19px;
	top: 4px;
}

/*Reservation styles*/
.reservation {
	background: url(../assets/header-background.jpg);
	color: white;
}
.reservation-form {
	margin-bottom: 80px;
}
.reservation input {
	width: 100%;
	line-height: 25px;
	padding-left: 10px;
	font-size: 14px;
}
.input-margin {
	margin-right:2%;
}
.input-float {
	float: left;
	display: inline-block;
}
.input-row1 {
	width: 32%;
	padding-bottom: 20px;
}
.input-row21 {
	width: 32%;
}
.input-row22 {
	width: 25%;
}
.input-row23 {
	width: 12%;
}
.input-row23 input[type=submit] {
	background: #ff514a;
	border: 0;
}
/*Services styles*/
.services {
	background: #f5f5f5;
}
.services-text {
	color: grey;
	width: 80%;
	margin: 20px auto 0;
}
.services-container {
	margin-top: 100px;
}
.services-item {
	width: 21.25%;
	float: left;
	background: white;
	position: relative;
	padding-top: 60px;
} 
.services-item-margin {
	margin-right: 5%;
}
.services-item img {
	position: absolute;
	left:17%;
	top:-64px;
}

/*------------ MENU -------------*/
/*Jumbotron styles*/
.menu-title {
	/*padding-top: 105px;*/
	padding: 30px;
	background: url(../assets/header-background.jpg);
	color: white;
}
.menu-title h1 {
	padding-top: 105px;
	font-size: 40px;
	font-weight: lighter;
	margin: 0;
}
.period-thing {
	padding: 0 10px;
}
/* Menu section styles */
.menu-section {
	text-align: left;
}
.menu-section h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
}
.menu-section ul {
	padding:0 ;
	margin: 0;
}
.menu-section li {
	list-style-type: none;
	margin: 20px 2px;
}
.menu-section p {
	font-size: 20px;
	margin: 0;
}
.ingredients {
	font-size: 14px;
	color: grey;
}

/* Gallery section styles */
.gallery-section {
	width: 100%;
	padding: 0;
}
.gallery-container {
	margin:0;
	padding: 0;
	position: relative;
	top: 4px;
}
.gallery-container li {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 25%;
}
.gallery-container img {
	width: 100%;
}

/*------------ EVENTS -------------*/
.events h3 {
	font-size: 20px;
}
.inner-wrapper {
	margin: 0 auto;
	padding-left: 25%;
	padding-right: 25%;
}
.event1-wine {
	width: 80%;
	margin-bottom: 20px;
}
.event-info li {
	display: inline-block;
	list-style-type: none;
	font-size: 14px;
}
 .event-info .fa {
 	padding: 0 2px 0 10px;
 }
 .event-underline {
 	width: 40%;
 }
 .google-map {
 	margin-top: 50px;
 	width: 100%;
 }
 .event-btn {
 	width: 30%;
	color: black;
	text-decoration: none;
	padding: 10px 40px;
	border: 2px solid black;
	font-weight: bold;
 	display: inline;
 	margin-top: 30px;
 }